# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ======================
# Ambiente virtual
# ======================
venv/
env/
.venv/

# ======================
# Variáveis de ambiente
# ======================
.env

# ======================
# Arquivos de dados
# ======================
boosts.json
config.json

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/